$primaryOrange: #ff6e30;
$shadowOrange: #bc572b;
$darkOrange: #ce4307;
$primaryGrey: #e9e9e9;
$shadowGrey: #cacaca;
$darkGrey: #4a4a4a;
$textGrey: #999999;
$black: #202020;
$white: #fff;
$pink: #f06666;
$red: #ff3030;

$inputHeight: 50px;

$screen1350: 1351px;
$screen1152: 1153px;
$screen900: 901px;
$screen540: 541px;
$screen384: 385px;
